.student {
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.student.bg-light {
    background-image: url(../assets/signup-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.student__level.bg-light {
    background-image: url(../assets/level-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.student__music-style.bg-light {
    background-image: url(../assets/style-bg-img.png);
    background-size: cover;
    background-position-x: center;
}

.form--student__music-style {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.btn--music-style {
    border: none;
    box-shadow: var(--bs);
    cursor: pointer;
}

.btn--music-style__img {
    max-width: 200px;
}

.profile {
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.profile.bg-light {
    background-image: url(../assets/bg-large.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.img--update {
    display: flex;
}

.img--update .profile--img {
    max-width: 150px;
}

.profile .btn--delete {
    color: var(--clr-accent-yellow);
    background-color: var(--clr-accent-red);
    margin-left: 2em;
}

.profile .btn--update_lessons {
    color: var(--clr-accent-green);
    background-color: var(--clr-accent-yellow);
    margin-left: 2em;
}
