.instructor {
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.instructor.bg-light {
    background-image: url(../assets/signup-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.instructor__level.bg-light {
    background-image: url(../assets/level-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.instructor__music-style.bg-light {
    background-image: url(../assets/style-bg-img.png);
    background-size: cover;
    background-position-x: center;
}

.instructors img {
    max-width: 8em;
    margin-bottom: 1em;
}

.instructor__list-item {
    margin: 2em 0;
}

.instructor__name {
    padding-bottom: 1em;
}

@media screen and (min-width: 1024px) {
    .split__instructor {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
    }

    .split__instructor-item:nth-child(2) {
        padding: 0 0 1em 1em;
    }
}

.form--instructor__music-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.btn--music-style {
    border: none;
    box-shadow: -0 0.25em 1.5em rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.btn--music-style__img {
    max-width: 200px;
}

.instructors pre,
.instructor__details pre {
    white-space: pre-wrap;
}

.short-bio:nth-of-type(n+2) {
    display: none;
}

.instructor__details img {
    margin: 0 auto 2em;
}

.instructor__details--name {
    text-align: center;
}







