.instructor,
.instructor__level {
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.instructor.bg-light {
    background-image: url(../assets/signup-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.instructor__level.bg-light {
    background-image: url(../assets/level-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}