.pp--container p {
        font-size: var(--fs-body);
        padding: .75em 0 0;
}

.pp--container a {
        color: var(--clr-accent-teal);
        text-decoration: underline;
}

.pp--container a:hover {
        color: var(--clr-accent-blue);
        text-decoration: underline;
}

.pp--container a:visited {
        color: var(--clr-accent-green);
        text-decoration: underline;
}

.bold {
        font-weight: var(--fw-bold);
}

.italic {
        font-style: italic;
}

.underscore {
        text-decoration: underline;
}

.pp--container {
        padding: 0 var(--spacer);
	max-width: 70rem;
	margin: 0 auto;
}

.pp--title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        padding-top: .5em;
}

.pp--date {
        font-size: (var(--fs-h4));
        margin-top: 0;
}

.pp--section {
        padding: 0 0 1.25em 0;
        margin-bottom: 1em;
}

.pp--section-title {
        font-size: var(--fs-h3);
        font-weight: var(--fw-bold);
}

.pp--section-subtitle {
        font-size: var(--fs-h4);
        font-weight: var(--fw-bold);
        padding-top: 1em;
}

.pp--para-title {
        margin-top: 1em;
}

.pp--ul,
.pp--ol {
        margin-left: 2em;
        font-size: var(--fs-body);
}

.ul--dec__bullet li {
        list-style-type: square;
        padding-left: .5em;
}

.ol--dec__number li {
        list-style-type: decimal;
        padding-left: .5em;
}

.ol--dec__parentheses {
        list-style-type: none;
}

.ol--dec__parentheses li:before {
        content: "(" counter(section, number) ") ";
}

.ol--dec__parentheses li {
        counter-increment: section;
}

table, th, td {
        border: 1px solid;
}

table {
        margin-top: 1em;
        border-collapse: collapse;
        font-size: var(--fs-body);
}

th {
        font-weight: var(--fw-bold);
        padding: 0 .25em;
}

td {
        padding: .25em .5em;
        line-height: 1.25;
}

td.pp--center {
        text-align: center;
}