.instrument {
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.instrument-family__items {
    --gap: 4rem;
    text-align: center;
}

.instrument-family__item {
    text-align: left;
    padding: calc(var(--spacer) * 2);
}

.bg-yellow {
    border: 3px solid var(--clr-accent-yellow);
}

.bg-red {
    border: 3px solid var(--clr-accent-red);
}

.bg-orange {
    border: 3px solid var(--clr-accent-orange);
}

.bg-green {
    border: 3px solid var(--clr-accent-green);
}

.bg-teal {
    border: 3px solid var(--clr-accent-teal);
}

.bg-blue {
    border: 3px solid var(--clr-accent-blue);
}

.instrument-family__item h3 {
    padding-bottom: calc(var(--spacer) * 2);
}

.instrument-family > p:first-of-type {
    font-style: italic;
}

.instrument-family .name {
    font-weight: var(--fw-bold);
    margin-top: 4rem;
    color: var(--accent);
}

.instrument-family .bg-accent {
    --accent: var(--clr-neutral-900);
}

.instrument-family {
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.instrument-family.bg-light {
    background-image: url(../assets/inst_family-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.instrument-family .box-title {
    text-align: center;
    padding: 0 0 1em 0;
}

.instrument-family img {
    margin: 0 auto 1em;
}

.instrument-form.bg-light {
    background-image: url(../assets/instruments-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.instrument-form__shadow {
    min-width: 300px;
    max-width: 750px;
    margin: 3em auto 0;
    border: 5px solid var(--clr-accent-teal);
    box-shadow: var(--bs-alt)
}

.instrument-form .section-title {
    color:var(--clr-neutral-100);
}
