.instrument__family {
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.instrument__family.bg-light {
    background-image: url(../assets/signup-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
