@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
/* Custom properties */

:root {
	--spacer: 1rem;

	--clr-neutral-900: #171717;
	--clr-neutral-700: #333;
	--clr-neutral-300: #cfcfcf;
	--clr-neutral-100: #fff;
	--clr-accent-yellow: #FDC230;
	--clr-accent-orange: #F89834;
	--clr-accent-red: #EE2334;
	--clr-accent-green: #20773E;
	--clr-accent-teal: #00AED1;
	--clr-accent-blue: #27448D;

	--ff-primary: "PT Sans", sans-serif;

	--fs-h1: 2.25rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1.25rem;
	--fs-h4: 1.125rem;
	--fs-body: 0.9375rem;

/*
@media (min-width: 800px) {
	:root {
		--fs-h1: 3rem;
		--fs-h2: 2.5rem;
		--fs-h3: 1.75rem;
		--fs-h4: 1.25;
		--fs-body: 1rem;
	}
}
*/

	--fw-bold: 700;
	--fw-accent: 400;

	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
		  0.125em 0.125em 0.25em rgba(0,0,0,.15);
	
	--bs-alt: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
			  0 30px 60px rgba(0, 0, 0, 0.3);
}

/* reset */

  *,
  *::before,
  *::after {
	box-sizing: border-box;
}

ul[class],
ol[class] {
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* Typography */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	line-height: 1.6;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
p {
	margin: 0;
}

h1,
.h1,
h2,
.h2 {
	font-weight: var(--fw-bold);
}

h3,
.h3,
h4,
.h4 {
	font-weight: var(--fw-accent);
}

h1,
.h1 {
	font-size: var(--fs-h1);
}

h2,
.h2 {
	font-size: var(--fs-h2);
}

h3,
.h3 {
	font-size: var(--fs-h3);
}

h4,
.h4 {
	font-size: var(--fs-h4);
}

p,
.p {
	font-size: var(--fs-body);
}

/* Utility classes */
  .flow-content > * + * {
	margin-top: var(--flow-space, var(--spacer));
}

.flow-content--large {
	--flow-space: 3rem;
}

.container {
	padding: 0 var(--spacer);
	max-width: 70rem;
	margin: 0 auto;
}

.split {
	display: flex;
	flex-direction: column;
	/* gap: var(--spacer); */
}

.split > * + * {
	margin: calc(var(--spacer) * 3) 0 0 0;
}

@media (min-width: 40em) {
	.split {
	flex-direction: row;
	justify-content: space-between;
	}

	.split > * {
	flex-basis: 100%;
	}

	.split > * + * {
	margin: 0 0 0 var(--gap, var(--spacer));
	}
}

.a-center {
	align-items: center;
}

.shadow {
	box-shadow: var(--bs);
}

[class*="bg-"] {
	color: var(--fg, red);
	background: var(--bg, purple);
}

.bg-dark {
	--fg: var(--clr-neutral-100);
	--bg: var(--clr-neutral-900);
	--accent: var(--clr-accent-teal);
}
.bg-accent {
	--fg: var(--clr-neutral-900);
	--bg: var(--clr-accent-teal);
	--accent: var(--clr-neutral-100);
}

.bg-light {
	--fg: var(--clr-neutral-900);
	--bg: var(--clr-neutral-100);
	--accent: var(--clr-accent-teal);
}

.bg-grey {
	--fg: var(--clr-neutral-900);
	--bg: var(--clr-neutral-300);
	--accent: var(--clr-accent-teal);
}

.text-accent {
	color: var(--accent, var(--clr-accent-teal));
}

.corner-square {
	position: relative;
}
.corner-square:nth-of-type(2n) {
	--accent: var(--clr-neutral-900);
}

.corner-square::before {
	content: "";
	display: block;
	width: 5rem;
	height: 5rem;
	background: var(--accent, var(--clr-accent-teal));
	position: absolute;
	left: -0.5em;
	top: -0.5em;
	z-index: -1;
}

  /* general styling */

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--ff-primary);
	font-size: var(--fs-h3);
	font-weight: var(--fw-accent);
	color: var(--clr-neutral-900);
	margin: 0;
	line-height: 1.6;
}

a {
	color: var(--clr-accent-blue);
	text-decoration: none;
	font-weight: var(--fw-bold);
}

.page-heading {
	font-weight: var(--fw-accent);
}

.section-title {
	display: inline-block;
	font-size: var(--fs-body);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: var(--fg, var(--clr-neutral-900));
	color: var(--accent, var(--clr-accent-teal));
	padding: 0.25em 0.5em;
}

.btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: 700;
	font-size: 1.125rem;
	color: inherit;
	padding: 0.75em 1.5em;
	background-color: var(--accent, var(--clr-accent-teal));
	color: var(--fg, var(--clr-neutral-900));
	cursor: pointer;
}

.btn-primary {
	background-color: var(--accent, var(--clr-accent-teal));
	color: var(--fg, var(--clr-neutral-900));
}

/* general layout */
section {
	padding: 4.125rem 0;
}

@media (min-width: 40em) {
	section {
		padding: 8.125rem 0;
	}
}
